
django djangorestframework markdown django-filter django-debug-toolbar drf-yasg drf-yasg2 djoser djangorestframework-simplejwt social-auth-app-django django-extensions django-cors-headers django-preventconcurrentlogins whitenoise fcm-django firebase-admin
